<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ct.mapper.LotteryWinMapper">
	<!-- Alias Map Defined <typeAlias alias="LotteryWinQuery" type="com.ct.query.LotteryWinQuery"/> 
		<typeAlias alias="LotteryWin" type="com.ct.pojo.LotteryWin"/> -->
	<resultMap id="lotteryWin" type="com.ct.pojo.LotteryWin">
		<result property="winaid" column="WINAID" />
		<result property="username" column="USERNAME" />
		<result property="userid" column="USERID" />
		<result property="lotteryname" column="LOTTERYNAME" />
		<result property="pid" column="PID" />
		<result property="userphone" column="USERPHONE" />
		<result property="winorfailure" column="WINORFAILURE" />
		<result property="windate" column="WINDATE" />
		<result property="checkout" column="CHECKOUT" />
		<result property="phoneint" column="PHONEINT" />
		<result property="receiveName" column="RECEIVE_NAME" />
		<result property="sendaddress" column="SENDADDRESS" />
		<result property="realName" column="REAL_NAME" />
		<result property="sendPost" column="SEND_POST" />
		<result property="state" column="STATE" />
		<result property="alipay" column="ALIPAY" />
		<result property="payseqnum" column="PAYSEQNUM" />
		<result property="comments" column="COMMENTS" />
		<result property="activityId" column="ACTIVITY_ID" />
	</resultMap>
	<!-- Select SQL -->
	<sql id="Base_Column_List">
		WINAID , USERNAME , USERID , LOTTERYNAME , PID , USERPHONE , WINORFAILURE ,
		WINDATE , CHECKOUT , PHONEINT , RECEIVE_NAME , SENDADDRESS , REAL_NAME
		, SEND_POST , STATE , ALIPAY , PAYSEQNUM , COMMENTS , ACTIVITY_ID
	</sql>


	<!-- 根据主键查询 -->
	<select id="selectByPrimaryKey" resultMap="lotteryWin"
		parameterType="DECIMAL">
		SELECT
		<include refid="Base_Column_List" />
		FROM lottery_win
		<where>
			WINAID=#{winaid}
		</where>
	</select>
	<!-- 根据多个主键查询 -->
	<select id="selectByKeys" resultMap="lotteryWin" parameterType="hashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM lottery_win
		<where>
			WINAID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="hashMap">
		DELETE FROM lottery_win
		<where>
			WINAID=#{winaid}
		</where>
	</delete>

	<!-- 根据多个主键删除 -->
	<delete id="deleteByKeys">
		DELETE FROM lottery_win
		<where>
			WINAID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>

	<!-- 根据主键更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="lotteryWin">
		UPDATE lottery_win
		<set>
			<if test="winaid != null">
				WINAID = #{winaid,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				USERNAME = #{username,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				USERID = #{userid,jdbcType=BIGINT},
			</if>
			<if test="lotteryname != null">
				LOTTERYNAME = #{lotteryname,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				PID = #{pid,jdbcType=BIGINT},
			</if>
			<if test="userphone != null">
				USERPHONE = #{userphone,jdbcType=VARCHAR},
			</if>
			<if test="winorfailure != null">
				WINORFAILURE = #{winorfailure,jdbcType=CHAR},
			</if>
			<if test="windate != null">
				WINDATE = #{windate,jdbcType=TIMESTAMP},
			</if>
			<if test="checkout != null">
				CHECKOUT = #{checkout,jdbcType=DECIMAL},
			</if>
			<if test="phoneint != null">
				PHONEINT = #{phoneint,jdbcType=VARCHAR},
			</if>
			<if test="receiveName != null">
				RECEIVE_NAME = #{receiveName,jdbcType=VARCHAR},
			</if>
			<if test="sendaddress != null">
				SENDADDRESS = #{sendaddress,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				REAL_NAME = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="sendPost != null">
				SEND_POST = #{sendPost,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=CHAR},
			</if>
			<if test="alipay != null">
				ALIPAY = #{alipay,jdbcType=VARCHAR},
			</if>
			<if test="payseqnum != null">
				PAYSEQNUM = #{payseqnum,jdbcType=VARCHAR},
			</if>
			<if test="comments != null">
				COMMENTS = #{comments,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			WINAID=#{winaid}
		</where>
	</update>

	<!-- 搜索列表信息 -->
	<select id="selectList" parameterType="hashMap" resultMap="lotteryWin">
		select
		<include refid="Base_Column_List" />
		from lottery_win
		<where>
			<if test="page_object.winaid != null and page_object.winaid != ''">
				AND WINAID = #{page_object.winaid,jdbcType=BIGINT}
			</if>
			<if test="page_object.username != null and page_object.username != ''">
				AND USERNAME = #{page_object.username,jdbcType=VARCHAR}
			</if>
			<if test="page_object.userid != null and page_object.userid != ''">
				AND USERID = #{page_object.userid,jdbcType=BIGINT}
			</if>
			<if
				test="page_object.lotteryname != null and page_object.lotteryname != ''">
				AND LOTTERYNAME = #{page_object.lotteryname,jdbcType=VARCHAR}
			</if>
			<if test="page_object.pid != null and page_object.pid != ''">
				AND PID = #{page_object.pid,jdbcType=BIGINT}
			</if>
			<if test="page_object.userphone != null and page_object.userphone != ''">
				AND USERPHONE = #{page_object.userphone,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.winorfailure != null and page_object.winorfailure != ''">
				AND WINORFAILURE = #{page_object.winorfailure,jdbcType=CHAR}
			</if>
			<if test="page_object.windateStart != null">
				AND <![CDATA[  WINDATE >= #{windateStart,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.windateEnd != null ">
				AND <![CDATA[  WINDATE <= #{windateEnd,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.windateEqual != null ">
				AND   <![CDATA[  WINDATE = #{windateEqual,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.checkout != null and page_object.checkout != ''">
				AND CHECKOUT = #{page_object.checkout,jdbcType=DECIMAL}
			</if>
			<if test="page_object.phoneint != null and page_object.phoneint != ''">
				AND PHONEINT = #{page_object.phoneint,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.receiveName != null and page_object.receiveName != ''">
				AND RECEIVE_NAME = #{page_object.receiveName,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.sendaddress != null and page_object.sendaddress != ''">
				AND SENDADDRESS = #{page_object.sendaddress,jdbcType=VARCHAR}
			</if>
			<if test="page_object.realName != null and page_object.realName != ''">
				AND REAL_NAME = #{page_object.realName,jdbcType=VARCHAR}
			</if>
			<if test="page_object.sendPost != null and page_object.sendPost != ''">
				AND SEND_POST = #{page_object.sendPost,jdbcType=VARCHAR}
			</if>
			<if test="page_object.state != null and page_object.state != ''">
				AND STATE = #{page_object.state,jdbcType=CHAR}
			</if>
			<if test="page_object.alipay != null and page_object.alipay != ''">
				AND ALIPAY = #{page_object.alipay,jdbcType=VARCHAR}
			</if>
			<if test="page_object.payseqnum != null and page_object.payseqnum != ''">
				AND PAYSEQNUM = #{page_object.payseqnum,jdbcType=VARCHAR}
			</if>
			<if test="page_object.comments != null and page_object.comments != ''">
				AND COMMENTS = #{page_object.comments,jdbcType=VARCHAR}
			</if>
			<if test="page_object.activityId != null and page_object.activityId != ''">
				AND ACTIVITY_ID = #{page_object.activityId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 搜索分页列表信息 -->
	<select id="selectListByPage" parameterType="hashMap" resultMap="lotteryWin">
		select
		<include refid="Base_Column_List" />
		from lottery_win
		<where>
			<if test="page_object.winaid != null and page_object.winaid != ''">
				AND WINAID = #{page_object.winaid,jdbcType=BIGINT}
			</if>
			<if test="page_object.username != null and page_object.username != ''">
				AND USERNAME = #{page_object.username,jdbcType=VARCHAR}
			</if>
			<if test="page_object.userid != null and page_object.userid != ''">
				AND USERID = #{page_object.userid,jdbcType=BIGINT}
			</if>
			<if
				test="page_object.lotteryname != null and page_object.lotteryname != ''">
				AND LOTTERYNAME = #{page_object.lotteryname,jdbcType=VARCHAR}
			</if>
			<if test="page_object.pid != null and page_object.pid != ''">
				AND PID = #{page_object.pid,jdbcType=BIGINT}
			</if>
			<if test="page_object.userphone != null and page_object.userphone != ''">
				AND USERPHONE = #{page_object.userphone,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.winorfailure != null and page_object.winorfailure != ''">
				AND WINORFAILURE = #{page_object.winorfailure,jdbcType=CHAR}
			</if>
			<if test="page_object.windateStart != null">
				AND <![CDATA[  WINDATE >= #{windateStart,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.windateEnd != null ">
				AND <![CDATA[  WINDATE <= #{windateEnd,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.windateEqual != null ">
				AND   <![CDATA[  WINDATE = #{windateEqual,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="page_object.checkout != null and page_object.checkout != ''">
				AND CHECKOUT = #{page_object.checkout,jdbcType=DECIMAL}
			</if>
			<if test="page_object.phoneint != null and page_object.phoneint != ''">
				AND PHONEINT = #{page_object.phoneint,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.receiveName != null and page_object.receiveName != ''">
				AND RECEIVE_NAME = #{page_object.receiveName,jdbcType=VARCHAR}
			</if>
			<if
				test="page_object.sendaddress != null and page_object.sendaddress != ''">
				AND SENDADDRESS = #{page_object.sendaddress,jdbcType=VARCHAR}
			</if>
			<if test="page_object.realName != null and page_object.realName != ''">
				AND REAL_NAME = #{page_object.realName,jdbcType=VARCHAR}
			</if>
			<if test="page_object.sendPost != null and page_object.sendPost != ''">
				AND SEND_POST = #{page_object.sendPost,jdbcType=VARCHAR}
			</if>
			<if test="page_object.state != null and page_object.state != ''">
				AND STATE = #{page_object.state,jdbcType=CHAR}
			</if>
			<if test="page_object.alipay != null and page_object.alipay != ''">
				AND ALIPAY = #{page_object.alipay,jdbcType=VARCHAR}
			</if>
			<if test="page_object.payseqnum != null and page_object.payseqnum != ''">
				AND PAYSEQNUM = #{page_object.payseqnum,jdbcType=VARCHAR}
			</if>
			<if test="page_object.comments != null and page_object.comments != ''">
				AND COMMENTS = #{page_object.comments,jdbcType=VARCHAR}
			</if>
			<if test="page_object.activityId != null and page_object.activityId != ''">
				AND ACTIVITY_ID = #{page_object.activityId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!--保存所有字段 -->
	<insert id="insert" parameterType="lotteryWin">
		INSERT INTO lottery_win(
		WINAID , USERNAME , USERID , LOTTERYNAME , PID , USERPHONE , WINORFAILURE ,
		WINDATE , CHECKOUT , PHONEINT , RECEIVE_NAME , SENDADDRESS , REAL_NAME
		, SEND_POST , STATE , ALIPAY , PAYSEQNUM , COMMENTS , ACTIVITY_ID
		VALUES(
		#{winaid,jdbcType=BIGINT} , #{username,jdbcType=VARCHAR} , #{userid,jdbcType=BIGINT} ,
		#{lotteryname,jdbcType=VARCHAR} , #{pid,jdbcType=BIGINT} ,
		#{userphone,jdbcType=VARCHAR} , #{winorfailure,jdbcType=CHAR} ,
		#{windate,jdbcType=TIMESTAMP} , #{checkout,jdbcType=DECIMAL} ,
		#{phoneint,jdbcType=VARCHAR} , #{receiveName,jdbcType=VARCHAR} ,
		#{sendaddress,jdbcType=VARCHAR} , #{realName,jdbcType=VARCHAR} ,
		#{sendPost,jdbcType=VARCHAR} , #{state,jdbcType=CHAR} ,
		#{alipay,jdbcType=VARCHAR} , #{payseqnum,jdbcType=VARCHAR} ,
		#{comments,jdbcType=VARCHAR} , #{activityId,jdbcType=VARCHAR} )
	</insert>

	<!--保存所有不为空的字段 -->
	<insert id="insertSelective" parameterType="lotteryWin">
		INSERT INTO lottery_win
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="winaid != null">
				WINAID,
			</if>
			<if test="username != null">
				USERNAME,
			</if>
			<if test="userid != null">
				USERID,
			</if>
			<if test="lotteryname != null">
				LOTTERYNAME,
			</if>
			<if test="pid != null">
				PID,
			</if>
			<if test="userphone != null">
				USERPHONE,
			</if>
			<if test="winorfailure != null">
				WINORFAILURE,
			</if>
			<if test="windate != null">
				WINDATE,
			</if>
			<if test="checkout != null">
				CHECKOUT,
			</if>
			<if test="phoneint != null">
				PHONEINT,
			</if>
			<if test="receiveName != null">
				RECEIVE_NAME,
			</if>
			<if test="sendaddress != null">
				SENDADDRESS,
			</if>
			<if test="realName != null">
				REAL_NAME,
			</if>
			<if test="sendPost != null">
				SEND_POST,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="alipay != null">
				ALIPAY,
			</if>
			<if test="payseqnum != null">
				PAYSEQNUM,
			</if>
			<if test="comments != null">
				COMMENTS,
			</if>
			<if test="activityId != null">
				ACTIVITY_ID,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="winaid != null">
				#{winaid,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=BIGINT},
			</if>
			<if test="lotteryname != null">
				#{lotteryname,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=BIGINT},
			</if>
			<if test="userphone != null">
				#{userphone,jdbcType=VARCHAR},
			</if>
			<if test="winorfailure != null">
				#{winorfailure,jdbcType=CHAR},
			</if>
			<if test="windate != null">
				#{windate,jdbcType=TIMESTAMP},
			</if>
			<if test="checkout != null">
				#{checkout,jdbcType=DECIMAL},
			</if>
			<if test="phoneint != null">
				#{phoneint,jdbcType=VARCHAR},
			</if>
			<if test="receiveName != null">
				#{receiveName,jdbcType=VARCHAR},
			</if>
			<if test="sendaddress != null">
				#{sendaddress,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="sendPost != null">
				#{sendPost,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="alipay != null">
				#{alipay,jdbcType=VARCHAR},
			</if>
			<if test="payseqnum != null">
				#{payseqnum,jdbcType=VARCHAR},
			</if>
			<if test="comments != null">
				#{comments,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				#{activityId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>