<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<sqlMap namespace="com.ct.dao.LotteryWinDAO">
    <!-- Alias Map Defined -->
    <typeAlias alias="LotteryWinQuery" type="com.ct.query.LotteryWinQuery"/>
    <typeAlias alias="LotteryWin" type="com.ct.pojo.LotteryWin"/>
    <resultMap id="lotteryWin" class="LotteryWin">
            <result property="winaid" column="WINAID"/>
            <result property="username" column="USERNAME"/>
            <result property="userid" column="USERID"/>
            <result property="lotteryname" column="LOTTERYNAME"/>
            <result property="pid" column="PID"/>
            <result property="userphone" column="USERPHONE"/>
            <result property="winorfailure" column="WINORFAILURE"/>
            <result property="windate" column="WINDATE"/>
            <result property="checkout" column="CHECKOUT"/>
            <result property="phoneint" column="PHONEINT"/>
            <result property="receiveName" column="RECEIVE_NAME"/>
            <result property="sendaddress" column="SENDADDRESS"/>
            <result property="realName" column="REAL_NAME"/>
            <result property="sendPost" column="SEND_POST"/>
            <result property="state" column="STATE"/>
            <result property="alipay" column="ALIPAY"/>
            <result property="payseqnum" column="PAYSEQNUM"/>
            <result property="comments" column="COMMENTS"/>
            <result property="activityId" column="ACTIVITY_ID"/>
        </resultMap>
    <!-- Select SQL -->
    <sql id="Base_Column_List">
	    WINAID , USERNAME , USERID , LOTTERYNAME , PID , USERPHONE , WINORFAILURE , WINDATE , CHECKOUT , PHONEINT , RECEIVE_NAME , SENDADDRESS , REAL_NAME , SEND_POST , STATE , ALIPAY , PAYSEQNUM , COMMENTS , ACTIVITY_ID    </sql>
    

            <!-- 根据主键查询 -->
        <select id="selectByPrimaryKey" resultMap="lotteryWin"  parameterType="java.lang.Long">
                      SELECT   <include refid="Base_Column_List" />  FROM lottery_win
           <where>
                       WINAID=#{winaid}                </where>
    </select>
             	<!-- 根据多个主键查询 -->
        <select id="selectByKeys" resultMap="lotteryWin"  parameterType="hashMap">
            SELECT    <include refid="Base_Column_List" />  FROM lottery_win
                <where>
                                    WINAID in
                <foreach item="item" index="index" collection="list" open="("
			        separator="," close=")">
			        #{item}
			    </foreach>
                        </where>
        </select>
    
            <!-- 根据主键删除 -->
        <delete id="deleteByPrimaryKey"  parameterType="hashMap">
            DELETE FROM lottery_win
                <where>
                        WINAID=#{winaid}                 </where>
        </delete>
    
        <!-- 根据多个主键删除 -->
    <delete id="deleteByKeys">
        DELETE FROM lottery_win
            <where>
                                WINAID in
                <foreach item="item" index="index" collection="list" open="("
			        separator="," close=")">
			        #{item}
			    </foreach>
                    </where>
    </delete>
    
            <!-- 根据主键更新 -->
                        <update id="updateByPrimaryKeySelective" parameterType="LotteryWin">
            UPDATE lottery_win
            <set >
                                                   <if test="winaid != null" >
                                                    WINAID = #{winaid,jdbcType=Long},
                                            </if>
                                                               <if test="username != null" >
                                                                            USERNAME =  substring(#{username,jdbcType=String},1,100),
                                            </if>
                                                               <if test="userid != null" >
                                                    USERID = #{userid,jdbcType=Long},
                                            </if>
                                                               <if test="lotteryname != null" >
                                                                            LOTTERYNAME =  substring(#{lotteryname,jdbcType=String},1,100),
                                            </if>
                                                               <if test="pid != null" >
                                                    PID = #{pid,jdbcType=Long},
                                            </if>
                                                               <if test="userphone != null" >
                                                                            USERPHONE =  substring(#{userphone,jdbcType=String},1,20),
                                            </if>
                                                               <if test="winorfailure != null" >
                                                                            WINORFAILURE =  substring(#{winorfailure,jdbcType=String},1,1),
                                            </if>
                                                               <if test="windate != null" >
                                                    WINDATE = #{windate,jdbcType=Date},
                                            </if>
                                                               <if test="checkout != null" >
                                                    CHECKOUT = #{checkout,jdbcType=Integer},
                                            </if>
                                                               <if test="phoneint != null" >
                                                                            PHONEINT =  substring(#{phoneint,jdbcType=String},1,20),
                                            </if>
                                                               <if test="receiveName != null" >
                                                                            RECEIVE_NAME =  substring(#{receiveName,jdbcType=String},1,100),
                                            </if>
                                                               <if test="sendaddress != null" >
                                                                            SENDADDRESS =  substring(#{sendaddress,jdbcType=String},1,100),
                                            </if>
                                                               <if test="realName != null" >
                                                                            REAL_NAME =  substring(#{realName,jdbcType=String},1,100),
                                            </if>
                                                               <if test="sendPost != null" >
                                                                            SEND_POST =  substring(#{sendPost,jdbcType=String},1,20),
                                            </if>
                                                               <if test="state != null" >
                                                                            STATE =  substring(#{state,jdbcType=String},1,1),
                                            </if>
                                                               <if test="alipay != null" >
                                                                            ALIPAY =  substring(#{alipay,jdbcType=String},1,20),
                                            </if>
                                                               <if test="payseqnum != null" >
                                                                            PAYSEQNUM =  substring(#{payseqnum,jdbcType=String},1,30),
                                            </if>
                                                               <if test="comments != null" >
                                                                            COMMENTS =  substring(#{comments,jdbcType=String},1,200),
                                            </if>
                                                               <if test="activityId != null" >
                                                                            ACTIVITY_ID =  substring(#{activityId,jdbcType=String},1,100),
                                            </if>
                                        </set>
            <where>
                        WINAID=#{winaid}                 </where>
        </update>
       
    <!-- 搜索列表信息 -->
    <select id="LotteryWin.getLotteryWinList" parameterType="LotteryWinQuery" resultMap="lotteryWin">
    select <include refid="Base_Column_List" /> from lottery_win
    <where>
                                        <if test="winaid != null and winaid != ''" >
                                                    WINAID = #{winaid,jdbcType=Long} AND
                                            </if>
                                                               <if test="username != null and username != ''" >
                                                                            USERNAME =  substring(#{username,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="userid != null and userid != ''" >
                                                    USERID = #{userid,jdbcType=Long} AND
                                            </if>
                                                               <if test="lotteryname != null and lotteryname != ''" >
                                                                            LOTTERYNAME =  substring(#{lotteryname,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="pid != null and pid != ''" >
                                                    PID = #{pid,jdbcType=Long} AND
                                            </if>
                                                               <if test="userphone != null and userphone != ''" >
                                                                            USERPHONE =  substring(#{userphone,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="winorfailure != null and winorfailure != ''" >
                                                                            WINORFAILURE =  substring(#{winorfailure,jdbcType=String},1,1) AND
                                            </if>
                                                               <if test="windate != null and windate != ''" >
                                                    WINDATE = #{windate,jdbcType=Date} AND
                                            </if>
                                                               <if test="checkout != null and checkout != ''" >
                                                    CHECKOUT = #{checkout,jdbcType=Integer} AND
                                            </if>
                                                               <if test="phoneint != null and phoneint != ''" >
                                                                            PHONEINT =  substring(#{phoneint,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="receiveName != null and receiveName != ''" >
                                                                            RECEIVE_NAME =  substring(#{receiveName,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="sendaddress != null and sendaddress != ''" >
                                                                            SENDADDRESS =  substring(#{sendaddress,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="realName != null and realName != ''" >
                                                                            REAL_NAME =  substring(#{realName,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="sendPost != null and sendPost != ''" >
                                                                            SEND_POST =  substring(#{sendPost,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="state != null and state != ''" >
                                                                            STATE =  substring(#{state,jdbcType=String},1,1) AND
                                            </if>
                                                               <if test="alipay != null and alipay != ''" >
                                                                            ALIPAY =  substring(#{alipay,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="payseqnum != null and payseqnum != ''" >
                                                                            PAYSEQNUM =  substring(#{payseqnum,jdbcType=String},1,30) AND
                                            </if>
                                                               <if test="comments != null and comments != ''" >
                                                                            COMMENTS =  substring(#{comments,jdbcType=String},1,200) AND
                                            </if>
                                                               <if test="activityId != null and activityId != ''" >
                                                                            ACTIVITY_ID =  substring(#{activityId,jdbcType=String},1,100) AND
                                            </if>
                                </where>
    </select>
    
    <!-- 搜索分页列表信息 -->
    <select id="LotteryWin.getLotteryWinListByPage" parameterType="LotteryWinQuery" resultMap="lotteryWin">
    select <include refid="Base_Column_List" /> from lottery_win
    <where>
                                        <if test="winaid != null and winaid != ''" >
                                                    WINAID = #{winaid,jdbcType=Long} AND
                                            </if>
                                                               <if test="username != null and username != ''" >
                                                                            USERNAME =  substring(#{username,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="userid != null and userid != ''" >
                                                    USERID = #{userid,jdbcType=Long} AND
                                            </if>
                                                               <if test="lotteryname != null and lotteryname != ''" >
                                                                            LOTTERYNAME =  substring(#{lotteryname,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="pid != null and pid != ''" >
                                                    PID = #{pid,jdbcType=Long} AND
                                            </if>
                                                               <if test="userphone != null and userphone != ''" >
                                                                            USERPHONE =  substring(#{userphone,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="winorfailure != null and winorfailure != ''" >
                                                                            WINORFAILURE =  substring(#{winorfailure,jdbcType=String},1,1) AND
                                            </if>
                                                               <if test="windate != null and windate != ''" >
                                                    WINDATE = #{windate,jdbcType=Date} AND
                                            </if>
                                                               <if test="checkout != null and checkout != ''" >
                                                    CHECKOUT = #{checkout,jdbcType=Integer} AND
                                            </if>
                                                               <if test="phoneint != null and phoneint != ''" >
                                                                            PHONEINT =  substring(#{phoneint,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="receiveName != null and receiveName != ''" >
                                                                            RECEIVE_NAME =  substring(#{receiveName,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="sendaddress != null and sendaddress != ''" >
                                                                            SENDADDRESS =  substring(#{sendaddress,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="realName != null and realName != ''" >
                                                                            REAL_NAME =  substring(#{realName,jdbcType=String},1,100) AND
                                            </if>
                                                               <if test="sendPost != null and sendPost != ''" >
                                                                            SEND_POST =  substring(#{sendPost,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="state != null and state != ''" >
                                                                            STATE =  substring(#{state,jdbcType=String},1,1) AND
                                            </if>
                                                               <if test="alipay != null and alipay != ''" >
                                                                            ALIPAY =  substring(#{alipay,jdbcType=String},1,20) AND
                                            </if>
                                                               <if test="payseqnum != null and payseqnum != ''" >
                                                                            PAYSEQNUM =  substring(#{payseqnum,jdbcType=String},1,30) AND
                                            </if>
                                                               <if test="comments != null and comments != ''" >
                                                                            COMMENTS =  substring(#{comments,jdbcType=String},1,200) AND
                                            </if>
                                                               <if test="activityId != null and activityId != ''" >
                                                                            ACTIVITY_ID =  substring(#{activityId,jdbcType=String},1,100) AND
                                            </if>
                                </where>
    </select>

        <!--保存所有字段-->
    <insert id="insert" parameterType="LotteryWin">
    INSERT INTO lottery_win(
           WINAID ,           USERNAME ,           USERID ,           LOTTERYNAME ,           PID ,           USERPHONE ,           WINORFAILURE ,           WINDATE ,           CHECKOUT ,           PHONEINT ,           RECEIVE_NAME ,           SENDADDRESS ,           REAL_NAME ,           SEND_POST ,           STATE ,           ALIPAY ,           PAYSEQNUM ,           COMMENTS ,           ACTIVITY_ID         VALUES(
            #{winaid,jdbcType=Long} ,            #{username,jdbcType=String} ,            #{userid,jdbcType=Long} ,            #{lotteryname,jdbcType=String} ,            #{pid,jdbcType=Long} ,            #{userphone,jdbcType=String} ,            #{winorfailure,jdbcType=String} ,            #{windate,jdbcType=Date} ,            #{checkout,jdbcType=Integer} ,            #{phoneint,jdbcType=String} ,            #{receiveName,jdbcType=String} ,            #{sendaddress,jdbcType=String} ,            #{realName,jdbcType=String} ,            #{sendPost,jdbcType=String} ,            #{state,jdbcType=String} ,            #{alipay,jdbcType=String} ,            #{payseqnum,jdbcType=String} ,            #{comments,jdbcType=String} ,            #{activityId,jdbcType=String}         )
    </insert>
    
        <!--保存所有不为空的字段-->
    <insert id="insertSelective" parameterType="LotteryWin">
        INSERT INTO lottery_win
       <trim prefix="(" suffix=")" suffixOverrides="," >
                                                            <if test="winaid != null" >
                        WINAID,
                    </if>
                                                                <if test="username != null" >
                        USERNAME,
                    </if>
                                                                <if test="userid != null" >
                        USERID,
                    </if>
                                                                <if test="lotteryname != null" >
                        LOTTERYNAME,
                    </if>
                                                                <if test="pid != null" >
                        PID,
                    </if>
                                                                <if test="userphone != null" >
                        USERPHONE,
                    </if>
                                                                <if test="winorfailure != null" >
                        WINORFAILURE,
                    </if>
                                                                <if test="windate != null" >
                        WINDATE,
                    </if>
                                                                <if test="checkout != null" >
                        CHECKOUT,
                    </if>
                                                                <if test="phoneint != null" >
                        PHONEINT,
                    </if>
                                                                <if test="receiveName != null" >
                        RECEIVE_NAME,
                    </if>
                                                                <if test="sendaddress != null" >
                        SENDADDRESS,
                    </if>
                                                                <if test="realName != null" >
                        REAL_NAME,
                    </if>
                                                                <if test="sendPost != null" >
                        SEND_POST,
                    </if>
                                                                <if test="state != null" >
                        STATE,
                    </if>
                                                                <if test="alipay != null" >
                        ALIPAY,
                    </if>
                                                                <if test="payseqnum != null" >
                        PAYSEQNUM,
                    </if>
                                                                <if test="comments != null" >
                        COMMENTS,
                    </if>
                                                                <if test="activityId != null" >
                        ACTIVITY_ID,
                    </if>
                                     </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
                                                <if test="winaid != null" >
                                                    #{winaid,jdbcType=Long}
                                           </if>
                                                                <if test="username != null" >
                                                                                substring(#{username,jdbcType=String},1,100)
                                           </if>
                                                                <if test="userid != null" >
                                                    #{userid,jdbcType=Long}
                                           </if>
                                                                <if test="lotteryname != null" >
                                                                                substring(#{lotteryname,jdbcType=String},1,100)
                                           </if>
                                                                <if test="pid != null" >
                                                    #{pid,jdbcType=Long}
                                           </if>
                                                                <if test="userphone != null" >
                                                                                substring(#{userphone,jdbcType=String},1,20)
                                           </if>
                                                                <if test="winorfailure != null" >
                                                                                substring(#{winorfailure,jdbcType=String},1,1)
                                           </if>
                                                                <if test="windate != null" >
                                                    #{windate,jdbcType=Date}
                                           </if>
                                                                <if test="checkout != null" >
                                                    #{checkout,jdbcType=Integer}
                                           </if>
                                                                <if test="phoneint != null" >
                                                                                substring(#{phoneint,jdbcType=String},1,20)
                                           </if>
                                                                <if test="receiveName != null" >
                                                                                substring(#{receiveName,jdbcType=String},1,100)
                                           </if>
                                                                <if test="sendaddress != null" >
                                                                                substring(#{sendaddress,jdbcType=String},1,100)
                                           </if>
                                                                <if test="realName != null" >
                                                                                substring(#{realName,jdbcType=String},1,100)
                                           </if>
                                                                <if test="sendPost != null" >
                                                                                substring(#{sendPost,jdbcType=String},1,20)
                                           </if>
                                                                <if test="state != null" >
                                                                                substring(#{state,jdbcType=String},1,1)
                                           </if>
                                                                <if test="alipay != null" >
                                                                                substring(#{alipay,jdbcType=String},1,20)
                                           </if>
                                                                <if test="payseqnum != null" >
                                                                                substring(#{payseqnum,jdbcType=String},1,30)
                                           </if>
                                                                <if test="comments != null" >
                                                                                substring(#{comments,jdbcType=String},1,200)
                                           </if>
                                                                <if test="activityId != null" >
                                                                                substring(#{activityId,jdbcType=String},1,100)
                                           </if>
                                   </trim>
    </insert>

            </sqlMap>
